<div class="container">
    <h3  class="mt-5">{{detailPro.name}}</h3>
    
    <span class="bg-secondary bg-opacity-25 text-secondary text-opacity-50 ">bán chạy</span>
     <span class="bg-secondary bg-opacity-25 text-opacity-50 text-secondary ">Hoàn tiền miễn phí</span>
          
     <span class="bg-secondary bg-opacity-25 text-secondary text-opacity-50 ">Tiếng Anh</span>
     <span class="bg-secondary bg-opacity-25 text-opacity-50 text-secondary ">Tour ghép & Tour riêng</span>
          
     <span class="bg-secondary bg-opacity-25 text-secondary text-opacity-50 ">Thời lượng : 1 ngày</span>
     <span class="bg-secondary bg-opacity-25 text-opacity-50 text-secondary ">Nhóm 1-40 khách</span>
 <br>
 <span class="fw-light"><i class='bx bxs-star text-warning'>5.0</i>(50.213k)</span>
 <span class="fw-light">{{detailPro.thongke}} đã được đặt</span>
 <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 mb-sm-4">
            <img class="img-fluid banner-image" src="../img/{{detailPro.photo}}" alt="">
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12 mb-2">
                    <img class="img-fluid banner-image w-100" src="../img/tourdetail2.webp" alt="">
                </div>
                <div class="col-lg-12 mt-3">
                    <img class="img-fluid banner-image w-100" src="../img/tourdeatil3.webp" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
            <div class="row">
            <span class=" col-3 bg-warning text-white rounded p-1 ">Chính sách bảo đảm về giá</span>
            <span class=" text-warning col-2 ms-auto">Ưu đãi hiện có > </i></span>
        </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-12 rounded text-center sticky-top border" style="z-index: 1000;">
            <span class="fs-3">{{detailPro.gia}}$</span> 
            <span class="fw-light text-decoration-line-through">2.000.0</span>
            <br>
            
            <button class="col-5 text-center btn btn-warning text-white m-2"  ng-click="themgiohang(detailPro)"> Thêm giỏ hàng </button>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p class="fs-3">Thông tin mô tả</p>
            <span>
                Một chuyến đi sẽ vui và thuận tiện biết mấy khi không phải lo lắng về phương tiện di chuyển trong chuyến đi của mình đúng không nào? Dịch vụ đưa đón chung và đưa đón riêng đến Safari World - cách Bangkok 45 phút - sẽ đưa bạn đến với niềm vui và các cuộc phiêu lưu! Dịch vụ đưa đón thoải mái này sẽ không chỉ đưa bạn đến và đi từ công viên mà thậm chí còn đưa bạn qua công viên Safari Park để bạn có thể đến gần các loài động vật. Có hàng trăm loại động vật trong công viên, không đơn thuần là hươu cao cổ, ngựa vằn, hổ và gấu mà còn có các loài chim và bò sát và những loài khác. Với phong cách Châu Phi hoang dã, công viên sẽ mang lại cho bạn cảm giác đang ở Serengeti ngắm nhìn những sinh vật tuyệt vời. Bạn sẽ được xem các chương trình ngoạn mục tại công viên biển như chương trình Cowboy Stunt và hơn thế nữa! Đừng lo lắng về việc quay trở lại Bangkok, xe đưa đón sẽ chờ đón bạn và đưa bạn trở về một cách an toàn và thuận tiện.
                Một chuyến đi sẽ vui và thuận tiện biết mấy khi không phải lo lắng về phương tiện di chuyển trong chuyến đi của mình đúng không nào? Dịch vụ đưa đón chung và đưa đón riêng đến Safari World - cách Bangkok 45 phút - sẽ đưa bạn đến với niềm vui và các cuộc phiêu lưu! Dịch vụ đưa đón thoải mái này sẽ không chỉ đưa bạn đến và đi từ công viên mà thậm chí còn đưa bạn qua công viên Safari Park để bạn có thể đến gần các loài động vật. Có hàng trăm loại động vật trong công viên, không đơn thuần là hươu cao cổ, ngựa vằn, hổ và gấu mà còn có các loài chim và bò sát và những loài khác. Với phong cách Châu Phi hoang dã, công viên sẽ mang lại cho bạn cảm giác đang ở Serengeti ngắm nhìn những sinh vật tuyệt vời. Bạn sẽ được xem các chương trình ngoạn mục tại công viên biển như chương trình Cowboy Stunt và hơn thế nữa! Đừng lo lắng về việc quay trở lại Bangkok, xe đưa đón sẽ chờ đón bạn và đưa bạn trở về một cách an toàn và thuận tiện.
                v
            </span>
            <img class="img-fluid" src="../img/{{detailPro.photo}}" alt="">
        </div>
    </div>
</div>
<div class="container">
<div class="row mt-3">
  <div class="col-lg-8">
  <p class="fs-4 m-0">Đánh giá </p>
  <span class=" fs-4">4.8</span>/5 <i class='bx bxs-star text-warning'></i><i class='bx bxs-star text-warning'></i><i class='bx bxs-star text-warning'></i>
  <i class='bx bxs-star text-warning'></i>
 <span class="fw-light">50+ đã được đặt</span>
</div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-5" ng-repeat="p in products | filter:{diadiem : detailPro.diadiem } | limitTo:4 ">
      <div class="card" >
        <img src="../img/{{p.photo}}" class="card-img-top" alt="...">
        <div class="card-body py-0">
        <p class=" m-0">{{p.name}}</p>
          <span class="fw-light"><i class='bx bxs-star text-warning'>5.0</i>(50.213k)</span>
          <span class="fw-light">{{p.thongke}}+ đã được đặt</span>
          <br>
          <div class="mb-2 ">
          <span class="bg-secondary bg-opacity-25 text-secondary text-opacity-50 ">bán chạy</span> <span class="bg-secondary bg-opacity-25 text-opacity-50 text-secondary ">Hoàn tiền miễn phí</span>
        </div>
        <span class="me-2">Giá:</span><span class="text-decoration-line-through me-1">5000$</span><span class="text-warning" style="font-size:20px">  {{p.gia| number:2}}$</span>  
      <div class="text-center">
        <button class="btn btn-warning p-2 m-2" ng-click="themgiohang(p)">Thêm vào giỏ hàng </button> 
      </div>
      </div>
      </div>
    </div>
  
  </div>
</div>    
