<section class="h-100 gradient-form " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="../img/1.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Đăng Ký </h4>
                  </div>
  
                  <form>
                    <div class="form-outline mb-4">
                      <label class="form-label" >Email</label>
                      <input type="email" ng-model="user.email"   class="form-control"
                        placeholder="Số điện thoại hoặc email" />
                        <span style="color: red;" ng-show="!emailcheck(user.email)">Vui lòng nhập một địa chỉ email hợp lệ.</span>
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" >Tài khoản </label>
                      <input ng-model="user.taikhoan"   class="form-control"
                        placeholder="Tài khoản " />
                     
                    </div>
                    
  
                    <div class="form-outline mb-4">
                      <label class="form-label" >Mật khẩu</label>
                      <input ng-model="user.matkhau"  class="form-control" placeholder="Mật khẩu" />
                      
                    </div>

                    <div class="form-group">
                      <input type="checkbox" ng-model="agree">
                      <span>Đồng ý với các điều khoản</span>
                  </div>  

                  <div ng-show="agree">
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-warning btn-block fa-lg gradient-custom-2 mb-3" type="button" ng-click="reg()">
                        Đăng ký
                      </button>
                        <br>
                    </div>
                  </div>
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex bg-warning align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Đem niềm vui đến cho khách hàng</h4>
                  <p class="small mb-0">Đặt ngay dịch vụ trung chuyển thuận tiện và thoải mái đến công viên Safari World!
                    Tham quan công viên Safari Park, một vườn thú mở với hàng trăm loài động vật sống trong môi trường tự nhiên
                    Có cơ hội thưởng thức 8 chương trình biểu diễn ngoạn mục tại Safari World như Cowboy Stunt Show và hơn thế nữa!
                    Xem  để tìm hiểu thêm về công viên Safari World và mua vé vào cổng
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div ng-repeat="us in listtaikhoan track by $index">
      <h2>{{us.taikhoan}}</h2>
    </div>
    <button ng-click="resetLocalStorage()">Reset Local Storage</button> -->

  </div>
  </section>
  
 