
 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <title>Document</title>
</head>

<body ng-app="myapp">
  <div ng-controller="myCtrl">

    <nav class="navbar navbar-expand-lg border-bottom">

      <div class="container-fluid">
        <div class="container">

          <div class=" navbar navbar-nav  flex-row">
            <div class="col-2 mx-2 d-lg-none ">
              <a class="navbar-brand" href="#!3">
                <img class="w-100" src="../img/1.png" alt="Your Logo">
              </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>


            </button>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-lg-none flex-row ">

              <li class="nav-item mx-3">
                <a class="nav-link" href="signup.html">Đăng ký</a>
              </li>
              <li class="nav-item mx-2">
                <a class="bg-warning rounded-pill nav-link text-white" href="#">Đăng nhập</a>

              </li>
            </ul>
          </div>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class=" col-1 mt-4   mx-3">
              <a class="navbar-brand" href="#!3">
                <img class="img-fluid d-none d-lg-block" src="../img/1.png" alt="Your Logo">
              </a>
            </div>


            <form class="d-flex  mt-3  mt-lg-0" role="search">
              <input class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search"
                ng-model="search">
              <button class="btn bg-warning rounded-pill" type="submit"><i
                  class=' text-white bx bx-search'></i></button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  VND
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mở ứng dụng </a></li>
                  <li><a class="dropdown-item" href="#">Xem gần đây </a></li>


                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#!product">Tour </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#!lienhe">Liên Hệ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!giohang">Giỏ hàng <span
                    class="bg-warning rounded-pill p-1">{{tongsoluong()}}</span> </a>
              </li>

              <div ng-show="loggedInUser" class="d-flex">
                <li class="nav-item ">
                  <a class="nav-link">{{loggedInUser.taikhoan}} </a>
                </li>

                <li class="nav-item ">
                  <a class="bg-warning rounded-pill nav-link text-white" ng-click="logout()">Đăng xuất</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#!doimatkhau">Đổi mật khẩu </a>
                </li>

              </div>

              <li class="nav-item d-lg-block d-none" ng-show="!loggedInUser">
                <a class="nav-link" href="#!dangky">Đăng ký</a>
              </li>
              <li class="nav-item d-lg-block d-none" ng-show="!loggedInUser">
                <a class="bg-warning rounded-pill nav-link text-white" href="#!dangnhap">Đăng nhập</a>
              </li>
          </div>
        </div>
      </div>
      </ul>

  </div>
  </div>

  </nav>
  <div class="container">
    <ul class="navbar navbar-nav flex-row col-11 ">
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link d-none d-lg-block" href="#"> <i class='bx  bx-map'></i>Bạn muốn đi đâu</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bxs-tree-alt'></i>vé tham quan</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bx-home'></i>Khách sạn</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"> <i class='bx bx-walk'></i>Di chuyển</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bxs-car-garage'></i>Thuê xe</a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"><i class='bx bxs-car-garage'></i>Thuê xe tự lái</a>
      </li>

      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="#"> <img style="width:20px" src="../img/category_36_gift_card.png" class="pb-1"
            alt="">Phiếu quà tặng</a>
      </li>
    </ul>
  </div>
    <div ng-view></div>
    <footer class="bg-warning text-white pt-4 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col-4 mb-4  ">
              <a class="navbar-brand" href="#">
                <img class="w-100" src="../img/1.png" alt="Your Logo">
              </a>
            </div>
            
            <h5>Liên hệ với chúng tôi </h5>
            <p class="m-0">Email: nplong2512004.com</p>
            <p>Phone: 0989-999-999</p>
          </div>
          <div class="col-md-3">
            <p>Điều khoản sử dụng</p>
            <div class="fw-light ">
              <p class="m-0">Chính sách bảo mật</p>
              <p class="m-0">Chính sách cookie</p>
              <p class="m-0">Phương trình kiểm lỗi</p>
              <p class="m-0">Chính sách bảo mật</p>
              <p class="m-0">Chính sách </p>
  
            </div>
  
          </div>
          <div class="col-md-3">
            <p>Tài trợ</p>
            <div class="fw-light ">
              <p class="m-0">Chính sách bảo mật</p>
              <p class="m-0">Chính sách cookie</p>
              <p class="m-0">Phương trình kiểm lỗi</p>
              <p class="m-0">Chính sách bảo mật</p>
              <p class="m-0">Chính sách </p>
  
            </div>
  
          </div>
          <div class="col-md-3">
            <p>Thanh toán</p>
            <div class="fw-light ">
              <p class="m-0">Chính sách thanh toán
              <div class="col-4  ">
                <a class="navbar-brand" href="#">
                  <img class="w-100" src="../img/tt.png" alt="Your Logo">
                </a>
              </div>
              <div class="col-4  ">
                <a class="navbar-brand" href="#">
                  <img class="w-100" src="../img/tt22.png" alt="Your Logo">
                </a>
              </div>
              </p>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col">
            <p class="my-auto text-center">travelchanel © 2024 Your Website.</p>
          </div>
        </div>
      </div>
    </footer>
    <script>
        var app=angular.module("myapp",["ngRoute"]);
        app.config(function($routeProvider){
            $routeProvider
            .when("/3", { templateUrl: "trangchu.html", controller: "myCtrl" })
        .when("/4", { templateUrl: "vd1.html", controller: "myCtrl" })
        .when("/product", { templateUrl: "product.html", controller: "myCtrl" })
        .when("/hoadon", { templateUrl: "hoadon.html", controller: "myCtrl" })
        .when("/lienhe", { templateUrl: "lienhe.html", controller: "myCtrl" })
        .when("/giohang", { templateUrl: "giohang.html", controller: "myCtrl" })
        .when("/chitiet/:id", { templateUrl: "chitiet.html", controller: "myCtrl" })
        .when("/dangky", { templateUrl: "dangky.html", controller: "myCtrl" })
        .when("/dangnhap", { templateUrl: "dangnhap.html", controller: "myCtrl" })
        .when("/doimatkhau", { templateUrl: "doimatkhau.html", controller: "myCtrl" })
        .otherwise({ templateUrl: "trangchu.html", controller: "myCtrl" })
})  
        app.controller("myCtrl",function ($scope, $rootScope, $routeParams, $http,$location) {
            //Khai báo 1 mảng products rỗng 
            $scope.products = [];   
                //Đọc dữ liệu từ json server rồi đổ mảng vào trong products    
                $http.get("http://localhost:3000/products").then(function (reponse) {
                    $scope.products = reponse.data;
                    console.log($scope.products);
                    // Lấy sản phẩm chi tiết thông qua id truyền vào routeParams
                    $scope.detailPro=$scope.products.find(item=>item.id==$routeParams.id);
                });
                $scope.agree = false;
        $scope.Category = '',

          $scope.setCategory = function (Categoryy) {

            $scope.Category = Categoryy

          }
          $scope.sort = 'gia';
        $scope.tang = function () {
          $scope.sort = 'gia';
        }
        $scope.giam = function () {
          $scope.sort = '-gia';
        }



        // Số phần tử mỗi trang
        $scope.pageSize = 10;

        // Trang hiện tại
        $scope.currentPage = 1;

        // Tổng số trang
        $scope.totalPages = Math.ceil($scope.products.length / $scope.pageSize);

        // Hàm chuyển trang
        $scope.setPage = function (page) {
          if (page >= 1 && page <= $scope.totalPages) {
            $scope.currentPage = page;
          }
        };

        // Tạo mảng các số trang
        $scope.getPages = function () {
          var pages = [];
          for (var i = 1; i <= $scope.totalPages; i++) {
            pages.push(i);
          }
          return pages;
        };

        // Tính toán chỉ mục bắt đầu và kết thúc của phần tử trên trang hiện tại
        $scope.startIndex = function () {
          return ($scope.currentPage - 1) * $scope.pageSize;
        };

        $scope.endIndex = function () {
          return Math.min($scope.startIndex() + $scope.pageSize - 1, $scope.products.length - 1);
        };







        // Lưu trữ giỏ hàng vào Local Storage
        if (localStorage.getItem('cart')) {
          $scope.cart = JSON.parse(localStorage.getItem('cart'));
        }
        else {
          $scope.cart = [];
        }


        $scope.themgiohang = function (p) {
          var index = $scope.cart.findIndex(sp => sp.id == p.id);
          if (index >= 0) {
            $scope.cart[index].soluong++;

          } else {
            var pinCart = { id: p.id, name: p.name, gia: p.gia, photo: p.photo, diadiem: p.diadiem, soluong: 1 };
            $scope.cart.push(pinCart);
          }
          localStorage.setItem('cart', JSON.stringify($scope.cart))
          // luư vào theo dạng chuỗi 
          console.log($scope.cart);

        };

        $scope.savecart = function () {
          localStorage.setItem('cart', JSON.stringify($scope.cart))
        }
        //xóa sản phẩm trong giỏ hàng 
        $scope.remove = function (index) {
          $scope.cart.splice(index, 1); // Xóa sản phẩm khỏi giỏ hàng
          $scope.savecart();
        }



        $scope.tongtien = function () {
          var tong = 0;
          for (var i = 0; i < $scope.cart.length; i++) {
            tong += $scope.cart[i].soluong * $scope.cart[i].gia;
          }
          console.log(tong); // In ra tổng tiền
          return tong;
        };

        $scope.tongsoluong = function () {
          var soluong = 0;
          for (var i = 0; i < $scope.cart.length; i++) {
            soluong += $scope.cart[i].soluong;
          }
          console.log(soluong); // In ra tổng tiền
          return soluong;
        }
        // $scope.checkout = function () {
        //   $http.post('http://localhost:3000/order', {
        //     products: $scope.cart,
        //     user: $scope.listtaikhoan,
        //     total: new Date().toLocaleString("sv-SE"),
        //     status: 'order'//trạng thái 

        //   }).then(
        //     function (res) {
        //       alert('đặt hàng thành công');

        //       $location.path('');
        //     }
        //   )
        // }

        //đăng ký
        $scope.listtaikhoan = [];
        $scope.user = {}
        $scope.id = 1;
        $scope.reg = function () {
          if (!$scope.user.taikhoan || !$scope.user.matkhau) {
            alert("Vui lòng nhập tên và mật khẩu.");
            return;
          }

          // Kiểm tra độ dài tên đăng nhập và mật khẩu
          if ($scope.user.taikhoan.length < 6) {
            alert("Tên đăng nhập phải có ít nhất 6 ký tự.");
            return;
          }
          if ($scope.user.matkhau.length < 6) {
            alert("Mật khẩu phải có ít nhất 6 ký tự.");
            return;
          }
          // for (var i = 0; i < $scope.listtaikhoan.length; i++) {
          //   if ($scope.listtaikhoan[i].taikhoan === $scope.user.taikhoan) {
          //     alert("Tên đăng nhập đã tồn tại. Vui lòng chọn tên khác.");
          //     return; // Kết thúc hàm nếu tài khoản đã tồn tại
          //   }

          // }

        
        $scope.user.id = $scope.id++;
          //đăỷ vào mảng 

          if ($scope.listtaikhoan.push(angular.copy($scope.user))) {
            localStorage.setItem("listtaikhoan", angular.toJson($scope.listtaikhoan))
          }
          localStorage.setItem("listtaikhoan", JSON.stringify($scope.listtaikhoan));

       

// Chuyển hướng đến trang đăng nhập
         $location.path('/dangnhap');
         console.log($scope.listtaikhoan);

        };

        $scope.getAccounts = function () {
          var acc = localStorage.getItem('listtaikhoan');
          if (acc) {
            $scope.listtaikhoan = JSON.parse(acc);
          } else {
            $scope.listtaikhoan = [];
          }


        };
        $scope.getAccounts();

        $scope.resetLocalStorage = function () {
          localStorage.removeItem('listtaikhoan');
          $scope.listtaikhoan = []; // Xóa dữ liệu trong mảng listtaikhoan nếu cần
        };

        $scope.emailcheck = function (email) {
          // Sử dụng biểu thức chính quy để kiểm tra định dạng email
          var emailcheck = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailcheck.test(email);
        };

 // đăng nhập
 $scope.log = function () {
          $scope.islogin = false;
          for (var i = 0; i < $scope.listtaikhoan.length; i++) {
            var users = $scope.listtaikhoan[i];
            if (users.taikhoan === $scope.taikhoan && users.matkhau === $scope.matkhau) {
              localStorage.setItem('loggedInUser', angular.toJson(users));
              alert('Đăng nhập thành công');
              $scope.islogin = true;
              $scope.saveloggedInUser(users);
              // Truyền users vào hàm saveloggedInUser
              console.log($scope.loggedInUser);
              $location.path('/4')
              break;
              return;
            }
            else {
              $scope.islogin = false;
              alert('Sai tài khoản hoặc mật khẩu');
            }
          }
        }

        $scope.saveloggedInUser = function (user) { // Nhận user làm đối số
          localStorage.setItem('loggedInUser', JSON.stringify(user)); // Lưu user thay vì users
        };

        // Tải thông tin người dùng đã đăng nhập từ localStorage khi ứng dụng được khởi tạo
        if (localStorage.getItem('loggedInUser')) {
          $scope.loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'));
        }




        $scope.currentPassword = '';
        $scope.newPassword = '';
        // đổi pas
        $scope.changePassword = function () {
          var users = angular.fromJson(localStorage.getItem('listtaikhoan'));

          var loggedInUser = angular.fromJson(localStorage.getItem('loggedInUser'));
          var user = users.find(u => u.taikhoan === loggedInUser.taikhoan);

          if (user && user.matkhau === $scope.currentPassword) {
            if ($scope.currentPassword === $scope.newPassword) {
              alert('Mật khẩu mới không được trùng với mật khẩu cũ.');
              return;
            }

            // Cập nhật mật khẩu mới
            user.matkhau = $scope.newPassword;

            // Lưu lại danh sách người dùng vào localStorage
            localStorage.setItem('listtaikhoan', angular.toJson(users));

            console.log(users); // Kiểm tra lại danh sách người dùng
            alert('Mật khẩu đã được thay đổi.');

          } else {
            alert('Mật khẩu hiện tại không chính xác.');
          }
        };


        $scope.logout = function () {
          // Xóa thông tin người dùng khỏi localStorage
          localStorage.removeItem('loggedInUser');

          // Chuyển hướng người dùng về trang đăng nhập hoặc trang chủ
          $scope.loggedInUser = false;

          $location.path('/dangnhap')

          alert('Đã đăng xuất thành công.');
        };
 
        });
    </script>
</body>
</html>